
#flipbook-section {
  width: 1000%;
  max-width: 1100px;
  height: 90vh;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 12px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 20;
  overflow: hidden; 
  padding-bottom: 160px;
  padding-top: 150px;
}


.magazine-viewport .container {
  position: absolute;
  top: 50%;
  left: 50%;
 width: 80%;
  max-width: 1100px;
  height: 90vh;
  margin: 50px auto;
  margin-top: 0px;
}

.magazine-viewport .magazine {
  position: absolute;
  width: 922px;
  height: 600px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.magazine-viewport .page {
  width: 461px;
  height: 600px;
  background-color: white;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.magazine-viewport .zoomer .region {
  display: none;
}

.magazine .region {
  position: absolute;
  overflow: hidden;
  background: #0066FF;
  opacity: 0.2;
  border-radius: 10px;
  cursor: pointer;
  filter: alpha(opacity=20);
}

.magazine .region:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.magazine .region.zoom {
  opacity: 0.01;
  filter: alpha(opacity=1);
}

.magazine .region.zoom:hover {
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.magazine .page {
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.magazine-viewport .page img {
  user-select: none;
  margin: 0;
}

.magazine .even .gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(left, rgba(0,0,0,0) 95%, rgba(0,0,0,0.2) 100%);
}

.magazine .odd .gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(right, rgba(0,0,0,0) 95%, rgba(0,0,0,0.15) 100%);
}

.magazine-viewport .zoom-in .even .gradient,
.magazine-viewport .zoom-in .odd .gradient {
  display: none;
}

.magazine-viewport .loader {
  background-image: url(../pics/loader.gif);
  width: 22px;
  height: 22px;
  position: absolute;
  top: 280px;
  left: 219px;
}

.magazine-viewport .shadow {
  transition: box-shadow 0.5s;
  box-shadow: 0 0 20px #ccc;
}


.magazine .next-button,
.magazine .previous-button {
  width: 60px;
  height: 100%; 
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
}


.magazine .next-button:hover,
.magazine .previous-button:hover {
    background: rgba(0, 0, 0, 0.3);
}


.magazine .next-button {
    right: -60px; 
}

.magazine .previous-button {
    left: -60px; 
}


.magazine-viewport .next-button::after {
    content: '›';
    font-size: 60px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.magazine-viewport .previous-button::after {
    content: '‹';
    font-size: 60px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.magazine-viewport .previous-button-hover,
.magazine-viewport .next-button-hover,
.magazine-viewport .previous-button-down,
.magazine-viewport .next-button-down {
  background-image: none !important; 
}


.magazine-viewport .previous-button-hover,
.magazine-viewport .next-button-hover {
  background-color: rgba(0,0,0, 0.5); 
}

.magazine-viewport .previous-button-down,
.magazine-viewport .next-button-down {
  background-color: rgba(0,0,0, 0.7); 
}



.animated {
  transition: margin-left 0.5s;
}


.thumbnails {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 140px;
  z-index: 9999;
  pointer-events: auto;
  background: rgba(255, 255, 255, 0.9);
  display: flex; 
 
  align-items: center; 
  overflow: hidden; 
}

.thumbnails > div {
  
  height: 100px;
  overflow-x: auto; 
  -webkit-overflow-scrolling: touch; 
  
  scrollbar-width: none;
  -ms-overflow-style: none;  
  flex-grow: 1;
  max-width: 1050px;
  position: relative; 

}
.thumbnails > div::-webkit-scrollbar {
  display: none; 
}

.thumbnails ul {
 
  list-style: none;
  padding: 0;
  margin: 0; 
  
  display: flex; 
  justify-content: center;
  align-items: center; 
  
  
  position: absolute; 
  left: 50%; 

  transform: translateX(-50%) scale3d(0.5, 0.5, 1); 
  transition: transform ease-in-out 100ms;
  

  width: max-content; 
  min-width: 100%; 

}

.thumbnails-hover ul {

  transform: translateX(-50%) scale3d(0.6, 0.6, 1);
}

.thumbnails li {
  list-style: none; 
 
  flex-shrink: 0;
  margin: 0 5px; 
  box-shadow: 0 0 10px #ccc;
  transition: transform 60ms;
}

.thumbnails li span {
  display: none;
}

.thumbnails .current {
  box-shadow: 0 0 10px red;
}

.thumbnails .thumb-hover {
  transform: scale3d(1.3, 1.3, 1);
  box-shadow: 0 0 10px #666;
}

.thumbnails img {
  float: left; 
}


.exit-message {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 40px;
  z-index: 10000;
}

.exit-message > div {
  width: 140px;
  height: 30px;
  margin: auto;
  background: rgba(0,0,0,0.5);
  text-align: center;
  font: 12px arial;
  line-height: 30px;
  color: white;
  border-radius: 10px;
}

.zoom-icon {
  position: absolute;
  z-index: 1000;
  width: 22px;
  height: 22px;
  top: 10px;
  right: 10px;
  background-image: url(../pics/zoom-icons.png);
  background-size: 88px 22px;
}

.zoom-icon-in {
  background-position: 0 0;
  cursor: pointer;
}

.zoom-icon-in.zoom-icon-in-hover {
  background-position: -22px 0;
  cursor: pointer;
}

.zoom-icon-out {
  background-position: -44px 0;
}

.zoom-icon-out.zoom-icon-out-hover {
  background-position: -66px 0;
  cursor: pointer;
}

.bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

#closeMagazine {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 9999;
}




.thumb-link {
  flex: 0 0 auto;
  display: block;
  height: 100%;
  margin: 0;
  text-decoration: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.thumb-link:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}


.thumb-img {
  height: 100%;
  width: auto;
  display: block;
}

.thumb-link.current-page {
  border: 3px solid #007bff;
  box-shadow: 0 0 15px #007bff;
}

#genericThumbnails {
  
    display: inline-flex; 
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 10px; 
}

#genericThumbnails li {
    
    flex: 0 0 auto; 
    height: 100px; 
 
}
